<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>智能学业e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/xueye/user_1.css" type="text/css" rel="stylesheet" />
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<script src="/static/public/js/base.min.js"></script>
	<script src="/static/public/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		table#obj tr>td{
			font-size: 16px;
			color: #666;
			line-height: 30px;
		}
		table#obj tr>th{
			font-size: 16px;
			font-weight: bold;
			color: #666;
			line-height: 30px;
		}

	</style>
</head>
<body>
<!-- head -->

<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
	<h1 style="margin: 0">各学科相对优势</h1>
	<a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
</div>

<link href="//xueye.wisecareer.org/css/xueye/message.css" type="text/css" rel="stylesheet" />
<div id="dBody" style="bottom: 40px">
	<div class="cleardiv50"></div>
	<div class="mycontent" >
		<div class="inner">
			<iframe src="" id="iframepage" name="iframepage" frameborder="0" scrolling="no" width="100%"  height="430"></iframe>
			<p class="explain">说明：上图为你的各学科平均成绩与年级平均成绩的对比。</p>
			<div class="cleardiv20"></div>
		</div>
		<script>
            var uid = localStorage.CURRENT_USER_ID;
            $('#iframepage').attr('src','//www.wisecareer.org/Report/report_xy/ad_user_average.php?token='+uid);
		</script>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		isHaveLogin('/presentation/branch1.html');
	});
</script>

<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/presentation/branch1',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/presentation/branch1',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
