<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>智能学业e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/xueye/character.css" type="text/css" rel="stylesheet" />
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<link rel="stylesheet" href="/static/public/css/layui.css"  media="all">
	<link href="//xueye.wisecareer.org/css/xueye/message.css" type="text/css" rel="stylesheet" />
	<script src="/static/public/js/base.min.js"></script>
	<script src="/static/public/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		.character h4{  background-image: url(//xueye.wisecareer.org/images/xueye/icon/arrow-xia-xiao.png);}
	</style>
</head>
<body>
<!-- head -->
	<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
		<h1 style="margin: 0">八项智能名词解释</h1>
        <a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a> 
	</div>



<div id="dBody" style="bottom: 40px">
	<div class="mycontent" >
		<div class="cleardiv50"></div>
		<div class="inner character">
			<div class="cleardiv10"></div>
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody><tr>
					<td width="17%" align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image002.jpg" alt="" width="70%"></td><td width="83%" style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">1. 语文智能(linguistic intelligence) ：是指有效地运用语言文字的能力，包括对文法、发音、节奏、文字含意的理解和运用。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image004.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">2. 数学逻辑智能( logical-mathematical intelligence ) ：是指有效地运用数字、科学和逻辑推理的能力，包括计算、归纳、假设等能力。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image006.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">3. 视觉空间智能( spatial intelligence ) ：是指能准确掌握及表现视觉空间（如能够掌握线条、平面、空间、形状、色彩、及了解他们的关系），又能将视觉和空间的想法“立体化”地在脑海浮现，及清楚地表现出来的能力。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image008.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">4. 肢体运动智能( bodily-kinesthetic intelligence ) ：是指能善用身体及肢体动作来表达自己，能够在协调、平衡、敏捷、力量、弹性、速度、触觉等方面有好的表现。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image010.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">5. 音乐智能( musical intelligence ) ：是指察觉、辨别、改变和表达音乐的能力，能掌握音乐最核心的元素。对节奏、音调、旋律、音色有高的敏感度。又懂得欣赏、享受、领会、表达甚至创作音乐。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image012.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">6. 人际交往智能( interpersonal intelligence ) ：是指能够察觉及分辨自己及他人的情绪、感受、意念及思惟。与人沟通时懂得观察及了解别人的面部表情、声线、身体语言并能作出适当的反应。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image014.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">7. 个人内省智能( intrapersonal intelligence ) ：是指个人了解、认识自己，明白自己的情绪和感受，有自我评价的能力。</td>
				</tr>
				<tr>
					<td align="left"><img src="http://www.wisecareer.org/Report/images/re_ds/report_ds_clip_image016.jpg" alt="" width="70%"></td><td style="font-size:14px;  line-height:20px; color:#666;padding: 5px 0">8. 自然观察智能( naturalist intelligence )：分辨观察生物的能力，对自然景物敏锐的注意力，及辨识力。适应环境、了解动植物关系，喜爱大自然。</td>
				</tr>
				</tbody></table>
			<div class="cleardiv20"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		isHaveLogin('/presentation/dycp4.html');
	});
</script>
<script>

	Request = GetRequest();
	var uid = localStorage.CURRENT_USER_ID;

</script>


<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/presentation/dycp4',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/presentation/dycp4',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
