<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>智能学业e站</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"/>
    <meta name="MobileOptimized" content="320"/>
    <link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/xueye/css/policy_decision.css"/>
    <script src="/static/public/js/jquery-1.8.3.min.js"></script>
    <script src="/static/lib/layer/mobile/layer.js"></script>
    <link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
    <script src="/static/public/js/base.min.js"></script>
    <script src="/static/public/js/com.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
<div id="dHead">
    <div class="head">
        <h1 style="font-family:Arial,'微软雅黑', Helvetica, sans-serif;">学业决策模型</h1>
        <a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
        <a href="/index/index" id="screen_btn"><img src="//xueye.wisecareer.org/images/xueye/icon/nav-1-bai.png" alt="" width="25" style="display: inline-block;vertical-align: middle;width: 25px"/></a>
    </div>
</div>
<div id="dBody" style="overflow-y:hidden; overflow-x:hidden;table-layout: fixed;word-wrap:break-word;word-break:break-all;">
    <div class="cleardiv50"></div>
    <div class="mycontent">
        <script>
            function search() {
                // 如：{Name:'摘取天上星',position:'IT技术'}
                // ps:注意将同名的放在一个数组里

                var o = {};
                var a = $("#frmlogin").serializeArray();
                $.each(a, function () {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });

                for (var i in o) {
                    if (o[i] != "") {
                        return true;
                    }
                }
                layer.open({
                    content: '请至少选择一项'
                    , shadeClose: false
                    , btn: '我知道了'
                });

                return false;
            }
        </script>
 <div class="inner option" id="inneropent"> 
            </div> 
            
 <script type="text/javascript">
 	 var uid = localStorage.CURRENT_USER_ID;

     var action = getUrlParam("action");
	 var str1 = '';
     var stop=false;
	 	var locationhref = 0;
        $.ajax({ url:WEB_API_URL + "navigation/getuserwensr?" , async: false,data:{token: uid}, success: function(json1){
       if(json1.status==0){ 
			str1 += "<div class='cleardiv10'></div>";
			str1 += "<h3>你现在的学业目标为：</h3>";
			str1 += "<ul class='danxuan clear'>"; 
			if(json1.data.list1==0){
			str1 += "<li><a href='javascript:void(0);' tag='0' style='display: block;padding:0;text-align: center' class='this'> 研究生</a><img src='//xueye.wisecareer.org/images/xueye/icon/yes.png' alt='' style='display: inline;'><input name='list1' id='list1' type='hidden' value='0'></li>";
                stop=true;
			}else{
				str1 += "<li><a href='javascript:void(0);' tag='0' style='display: block;padding:0;text-align: center' > 研究生</a>  <img src='//xueye.wisecareer.org/images/xueye/icon/yes.png' alt=''></li>";
				}
				
		 if(json1.data.list1==2){
             stop=true;
			str1 += "<li><a href='javascript:void(0);' tag='2' style='display: block;padding:0;text-align: center' class='this'> 本科生</a><img src='//xueye.wisecareer.org/images/xueye/icon/yes.png' alt='' style='display: inline;'><input name='list1' id='list1' type='hidden' value='2'></li>";
			}else{ 
			str1 += "<li><a href='javascript:void(0);' tag='2' style='display: block;padding:0;text-align: center' > 本科生</a>  <img src='//xueye.wisecareer.org/images/xueye/icon/yes.png' alt=''></li>";
			}
			 if(json1.data.list1==1){
                 stop=true;
			str1 += "<li><a href='javascript:void(0);' tag='1' style='display: block;padding:0;text-align: center' class='this'> 专科生</a><img src='//xueye.wisecareer.org/images/xueye/icon/yes.png' alt='' style='display: inline;'><input name='list1' id='list1' type='hidden' value='1'></li>";
			}else{ 
			str1 += "<li><a href='javascript:void(0);' tag='1' style='display: block;padding:0;text-align: center'> 专科生</a><img src='//xueye.wisecareer.org/images/xueye/icon/yes.png' alt='' /></li>";
			}
    		str1 += " </ul>"; 
			if(json1.data.openok >0 ){ 
				locationhref = 0;
				str1 += "<input type='button' value='保存' class='btn_yes' onclick='return Userplanningedit()'/>";
			}else{
				 str1 += "<input type='button' value='下一步' class='btn_yes' onclick='return Userplanningedit()'/>"; 
				 locationhref = 1;
			 
			}
			str1 += "<div class='cleardiv20'></div>";   
        }
		$("#inneropent").html(str1);
  }});
  
  </script>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        isHaveLogin('/jcyj/option1.html');
    });
    $('.danxuan>li>a').click(function () {
        $('.danxuan>li>a').removeClass("this");
        $('.danxuan>li>img').hide();
        $('.danxuan>li>input[type="hidden"]').remove();
        $(this).addClass("this");
        $(this).next().show();
        var attr1 = $(this).next().attr('num');
        $(this).next().val(attr1);
        var tag = $(this).attr('tag');
        $(this).after('<input name="list1" id="list1" type="hidden"  value=' + tag + ' />')
        stop=true;
    });
	
 function Userplanningedit(){
 	    var uid =localStorage.CURRENT_USER_ID 
    	var list1 = $("#list1").val(); 

        if(stop==false){
            layer.open({
                content: '请选择学业目标！'
                ,shadeClose: false
                ,btn: '我知道了'
            });
        }else{
            $.ajax({
                url: WEB_API_URL+"navigation/makeplanning",
                type: "Post",
                data: {token:uid,list1:list1},
                dataType:'json',
                async:false,
                success: function (result){
                    if(result.status == 0) {

                 if(locationhref == 1){
                      window.location.href="/jcyj/option2/"
                  }else{
                    window.location.href="/jcyj/details/"
                  }

                    }else{
                        layer.open({
                            content: result.msg
                            ,shadeClose: false
    ,btn: '我知道了'
                        });
                    }
                }

            })
        }
    } 



</script>


<script>
    wx.config({
        debug: false,//关闭调试模式
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        /*appId: 'xxxxxx',
         timestamp: xxxxx,
         nonceStr: 'xxxxx',
         signature: 'xxxxx',*/

        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ'
        ]
    });
    wx.ready(function () {

        // 2. 分享接口
        // 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


        wx.onMenuShareAppMessage({
            title: '智能学业e站，您身边的生涯规划专家！',
            desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
            link: 'http://xy.wisecareer.org/jcyj/option1?action='+action,
            imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
            trigger: function (res) {
                // alert('用户点击发送给朋友');
            },
            success: function (res) {
                //alert('已分享');
                //   window.location.href = 'http://m.duolehuan.com/';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });

        // 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareTimeline({
            title: '快来学业e站吧！',
            desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
            link: 'http://xy.wisecareer.org/jcyj/option1?action='+action,
            imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
            trigger: function (res) {
                // alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                //alert('已分享');
                //window.location.href = '';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });
    });

    function hide(){
        $('.show_hide').hide();
    }

    function show(){
        $('.show_hide').show();
    }
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>