<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>智能学业e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="/static/xueye/css/policy_decision.css"/>
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<link rel="stylesheet" href="/static/public/css/layui.css"  media="all">
	<script src="/static/public/js/base.min.js"></script>
	<script src="/static/public/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>

<div id="dHead">
	<div class="head">
		<h1 style="font-family:Arial,'微软雅黑', Helvetica, sans-serif;">推荐专业</h1>
		<a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
		<a href="/index/index" id="screen_btn"><img src="//xueye.wisecareer.org/images/xueye/icon/nav-1-bai.png" alt="" width="25" style="display: inline-block;vertical-align: middle;width: 25px"/></a>
	</div>
</div>

<div id="dBody" style="overflow-x:hidden;table-layout: fixed;word-wrap:break-word;word-break:break-all;">
	<div class="inner school" style="background: #fff;position: fixed;top: 50px;left: 0;width: 100%;z-index: 1000;text-align: center;padding: 15px 0;">
		<table width="60%" style="margin: 0 auto;" id="tab">
			<tr>
				<td align="center" class="this" onclick="location.href='/jcyj/recommend?type=2'">优先推荐</td>
				<td align="center" onclick="location.href='/jcyj/recommend?type=1'" >一般推荐</td>
			</tr>
		</table>
	</div>
	<div class="cleardiv50" style="height:107px"></div>
	<div class="mycontent">
		<div class="cleardiv5"></div>
		<div class="recommend" style="background: #fff">
			<div id="content"></div>
		</div>
	</div>
</div>




<script type="text/javascript">
	$(function(){
		isHaveLogin('/jcyj/recommend.html');
	});
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>

<script src="/static/public/js/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
	var uid = localStorage.CURRENT_USER_ID;
	Request = GetRequest();
	var type = getUrlParam("type");
	var ids = getUrlParam("id");
	var titlename = decodeURI(GetQueryString("titlename"));
	var majorid = getUrlParam("majorid");
	var vip=1;
	var tab1_i = 1; //设置当前页数
	
	
    if(type==1){
		$('a.return').attr('href','javascript:history.go(-1)'); 
	}else{ 
		$('a.return').attr('href','javascript:history.go(-1)'); 
	  	//$('a.return').attr('href','/jcyj/index/');
	}

	if(localStorage.CURRENT_USER_planning==1){

	}else{
		layer.open({
			content: '请先完善选科决策流程'
			,btn: '我知道了'
			,shadeClose: false
			,yes: function(index){
				layer.close(index);
				window.location.href='/jcyj/index/';
			}
		});
	}

	//滚屏加载

	//给窗口滚动事件绑定滚屏加载方法

	scrollLoad();

	var winH = $(window).height(); //页面可视区域高度

	$(window).scroll(function () {
		var pageH = $(document).height();
		var scrollT = $(window).scrollTop(); //滚动条top
		var aa = (pageH - scrollT) ;


		if (tab1_i == 0) {
			return false;

		}

		if (aa ==winH) {


			scrollLoad();

		}


	});



	function scrollLoad() {
		var load_index =layer.open({type: 2, shadeClose: false});

		if (tab1_i == 0) {
			return false;
		}


		
		$.getJSON(WEB_API_URL + "navigation/get_like_wen?"+Request, {token: uid, page: tab1_i}, function (json) {
//			layer.close(load_index);


			var str1 = "";
			var str2 = "";
			var name = "";

			var shoucang='';
			var color='';

			if (json.data.list !=null){
				$.each(json.data.list, function (index, array) {
					if(array['has']==1){
						shoucang="<a style='margin-top: 4px;display: block' id="+array['zid']+" class='this' stop='0'><i class='icon-star'></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>";
						color='#00bb0c';
					}else{
						shoucang="<a style='margin-top: 4px;display: block' id="+array['zid']+" stop='1'><i class='icon-star'></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>";
						color='red';
					}
					str1 +="<table width=\"100%\" class=\"xueye_list\"><tr><td width=\"10\"></td><td style='font-size:14px;font-weight: bold'><span onClick=\"goPermissionUrl('/jcyj/professional_details?majorid="+array['zid']+"');\">专业名称："+array['titlename']+" </span><span class=\"shoucang\" style='color: "+color+"'>"+shoucang+"</span></td><td width=\"10\"></td></tr>";
					str1 +="<tr><td width=\"10\"></td><td><span class=\"zhuanye\" onClick=\"goPermissionUrl('/jcyj/professional_details?majorid="+array['zid']+"');\">相近专业  <span> "+array['closer']+" </span>  个</span>" ;
					str1 +="<span class=\"zhuanye\">开设院校  <span onclick=\"location.href='../jcyj/professional_details?majorid="+array['zid']+"'\"> "+array['colleges']+" </span>  个</span></td><td width=\"10\"></td></tr>";
					str1 +="<tr><td width=\"10\"></td><td colspan='2' style='line-height: normal;padding-top: 5px'>行业方向："+array['alclass']+"</td><td width=\"10\"></td></tr></table>";
				});
				if(localStorage.CURRENT_USER_VIP==0){

						vip=0;
				}
				if(vip==0){
					str1 += "<table width=\"100%\" ><tr><td>";
					str1 += "<ul style='padding: 5px 0' onclick='UserVip2()'>";
					str1 += "<li class='clear' style='text-align: center;line-height: 40px;font-size: 16px'>升级VIP可查看全部</li>"
					str1 += "</ul></td></tr></table>";
					tab1_i=0;
				}else{
					tab1_i++;
				}
			} else {
				str1 += "<table width=\"100%\" style=\'padding: 10px 0;border: none\'><tr><td align=\'center\' style='border: none;font-size: 14px;color: #666;line-height: 36px'>加载完</td></tr></table>";
				tab1_i = 0;
			}
			$('#content').append(str1);
			layer.close(load_index);
		});

	}



	function hide(){
		$('.show_hide').hide();
	}
	function show(){
		$('.show_hide').show();
	}
	layui.use('element', function(){
		var $ = layui.jquery
				,element = layui.element(); //Tab的切换功能，切换事件监听等，需要依赖element模块

		//触发事件
		var active = {
			tabAdd: function(){
				//新增一个Tab项
				element.tabAdd('demo', {
					title: '新选项'+ (Math.random()*1000|0) //用于演示
					,content: '内容'+ (Math.random()*1000|0)
					,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
				})
			}
			,tabDelete: function(othis){
				//删除指定Tab项
				element.tabDelete('demo', '44'); //删除：“商品管理”


				othis.addClass('layui-btn-disabled');
			}
			,tabChange: function(){
				//切换到指定Tab项
				element.tabChange('demo', '22'); //切换到：用户管理
			}
		};

		$('.site-demo-active').on('click', function(){
			var othis = $(this), type = othis.data('type');
			active[type] ? active[type].call(this, othis) : '';
		});

		//Hash地址的定位
		var layid = location.hash.replace(/^#test=/, '');
		element.tabChange('test', layid);

		element.on('tab(test)', function(elem){
			location.hash = 'test='+ $(this).attr('lay-id');
		});

	});


	$('.shoucang>a').live('click',function(){

		var uid = localStorage.CURRENT_USER_ID;
		var majorid =$(this).attr('id');

		var thisa = $(this);
		$.ajax({
			type:"POST",
			url:WEB_API_URL+"school/collection_major_add?",
			data:"token="+uid+"&majorid="+majorid,
			cache:false, //不缓存此页面
			success:function(data){
				if(data.status==0){
					if(thisa.attr('class') =='this'){
						layer.open({
							content: '取消收藏'
							,skin: 'msg'
							,time: 5 //5秒后自动关闭
						});
						thisa.attr('class','')
					}else{
						layer.open({
							content: '已收藏'
							,skin: 'msg'
							,time: 5 //5秒后自动关闭
						});
						thisa.attr('class','this')
					}
				}else{
					layer.open({
				content: data.msg
				,btn: '我知道了'
				});
					}
			}
		});



	})


	if(type==2){

	}else{
		$('table#tab tr>td').removeClass('this');
		$('table#tab tr>td:last-child').addClass('this');
	}
</script>


<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/jcyj/recommend?type='+type,
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/jcyj/recommend?type='+type,
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>