<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>智能学业e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="/static/xueye/css/policy_decision.css"/>
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<link rel="stylesheet" href="/static/public/css/layui.css"  media="all">
	<script src="/static/public/js/base.min.js"></script>
	<script src="/static/public/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
<!-- head -->

<div id="dHead">
	<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
		<h1 style="margin: 0">选科策略评估</h1>
		<a href="javascript:window.history.back(-1)" class="return"><i class="return-right"></i></a>
		<a style="" id="screen_btn">保存</a>
	</div>
</div>

<!-- home -->
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
		<div class="inner strategy">
			<div class="cleardiv10"></div>
			<table width="100%">
				<tr>
					<td style="line-height: 24px">1、根据你的学业决策模型优先推荐选科组合：</td>
				</tr>
				<tr>
					<td id="danxuan1">
						<ul class="danxuan clear">
							<li><a href="javascript:void(0);" style="display: block;padding:0;text-align: center" >211</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/><input type="hidden" name="recommend" value="0"></li>
							<li><a href="javascript:void(0);" style="display: block;padding: 0;text-align: center"  >985</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/><input type="hidden" name="attention" value="0"></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>2、其他可选组合</td>
				</tr>
				<tr>
					<td id="danxuan2">
						<ul class="danxuan clear">
							<li><a href="javascript:void(0);" style="display: block;padding:0;text-align: center" >211</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/><input type="hidden" name="recommend" value="0"></li>
							<li><a href="javascript:void(0);" style="display: block;padding: 0;text-align: center"  >985</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/><input type="hidden" name="attention" value="0"></li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>3、不推荐选科组合</td>
				</tr>
				<tr>
					<td id="danxuan3">
						<ul class="danxuan clear">
							<li><a href="javascript:void(0);" style="display: block;padding:0;text-align: center" >211</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/><input type="hidden" name="recommend" value="0"></li>
							<li><a href="javascript:void(0);" style="display: block;padding: 0;text-align: center"  >985</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/><input type="hidden" name="attention" value="0"></li>
						</ul>
					</td>
				</tr>
			</table>
			<div class="cleardiv20"></div>
		</div>
	</div>
	<div class="cleardiv55"></div>
</div>


<div id="dFoot">
	<div class="body-nav">
		<ul>
			<li><a  onclick="location.href='/index/index/'"><i class="icon-nav-1"></i>首页</a></li>
			<li><a onClick="goPermissionUrl('/message/index.html');"><i class="icon-nav-2"></i>消息</a></li>
			<li><a onClick="goPermissionUrl('/user/index.html');"><i class="icon-nav-5"></i>个人中心</a></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		isHaveLogin('/xuanke/strategy.html');
	});
</script>

<script src="/static/public/js/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
		$('#danxuan1>.danxuan>li>a').click(function(){
			$('#danxuan1>.danxuan>li>a').removeClass("this");
			$('#danxuan1>.danxuan>li>img').hide();
			$(this).addClass("this");
			$(this).next().show();
		});
		$('#danxuan2>.danxuan>li>a').click(function(){
			$('#danxuan2>.danxuan>li>a').removeClass("this");
			$('#danxuan2>.danxuan>li>img').hide();
			$(this).addClass("this");
			$(this).next().show();
		});
		$('#danxuan3>.danxuan>li>a').click(function(){
			$('#danxuan3>.danxuan>li>a').removeClass("this");
			$('#danxuan3>.danxuan>li>img').hide();
			$(this).addClass("this");
			$(this).next().show();
		});
</script>


<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/jcyj/strategy',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/jcyj/strategy',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
