

{extend name="layout/layout" }
{block name="link"}
<link href="__XUEYE__/css/Password.css" type="text/css" rel="stylesheet" />
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
{/block}
<!-- head -->
{block name="head"}
<div id="dHead">
    <div class="head">
        <h1 style="font-family:Arial,'微软雅黑', Helvetica, sans-serif;">修改密码</h1>
        <a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
    </div>
</div>
{/block}
<!-- user-info  -->
{block name="content"}
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
			<div class="inner">
	<div class="content1 clear">
			<div class="cleardiv10"></div>
	<form action="/user/update" method='post' class="content_inner">
		<input type="hidden" name="type" value="pass">
		<table width="100%" id="password_list">
			<tr>
				<td>现有密码</td>
			</tr>
			<tr>
				<td><input type="password" id="current_password" class="appearance" name="passwd" autocomplete="off"/><span class="login_tishi"></span></td>
			</tr>

			<tr>
				<td>新密码</td>
			</tr>
			<tr>
				<td><input type="password" id="new_password" class="appearance" name="password" autocomplete="off"/><span class="login_tishi"></span></td>
			</tr>

			<tr>
				<td>确认密码</td>
			</tr>
			<tr>
				<td><input type="password" id="confirm_password" class="appearance" name="password_od" autocomplete="off"/><span class="login_tishi"></span></td>
			</tr>
			<tr>
				<td><div class="cleardiv10"></div></td>
			</tr>
			<tr>
				<td><input type="button" value="确认修改" onclick=" return UserPass()" class="btn_yes"/></td>
			</tr>
		</table>
			<!--<ul id="password_list">-->
				<!--<li><span>现有密码</span><input type="password" id="current_password" class="appearance" name="passwd" autocomplete="off"/><span class="login_tishi"></span></li>-->
				<!--<li><span>新密码</span><input type="password" id="new_password" class="appearance" name="password" autocomplete="off"/><span class="login_tishi"></span></li>-->
				<!--<li><span>确认密码</span><input type="password" id="confirm_password" class="appearance" name="password_od" autocomplete="off"/><span class="login_tishi"></span></li>-->
				<!--<li><input type="button" value="确认修改" onclick=" return UserPass()" class="btn_yes"/></li>-->
			<!--</ul>-->
			<!--<div class="clear"></div>-->
		</form>
		<div class="clear"></div>
	</div>
		</div>
	</div>
</div>
<script>
	$("#current_password").focus(function(){
		$(this).next().html("");
		$(this).next().hide();
	})
	$("#current_password").blur(function(){
		var current_password = $("#current_password").val();
		if(current_password==""){
			$(this).next().html("不能为空");
			$(this).next().show();
			return;
		}
		if(current_password.length<6||current_password.length>16){
			$(this).next().html("密码为6-16个字符");
			$(this).next().show();
			return;
		}
	})
	$("#new_password").focus(function(){
		$(this).next().html("");
		$(this).next().hide();
	})
	$("#new_password").blur(function(){
		var new_password = $("#new_password").val();
		if(new_password==""){
			$(this).next().html("不能为空");
			$(this).next().show();
			return;
		}
		if(new_password.length<6||new_password.length>16){
			$(this).next().html("密码为6-16个字符");
			$(this).next().show();
			return;
		}
	})
	$("#confirm_password").focus(function(){
		$(this).next().html("");
		$(this).next().hide();
	})
	$("#confirm_password").blur(function(){
		var confirm_password = $("#confirm_password").val();
		if(confirm_password!=$("#new_password").val()){
			$(this).next().html("必须与密码相同");
			$(this).next().show();
			return;
		}
		if(confirm_password==""){
			$(this).next().html("不能为空");
			$(this).next().show();
			return;
		}
	})

    function UserPass(){
        var token =localStorage.CURRENT_USER_ID;
        var passwd = $("#current_password").val();
        var password = $("#new_password").val();
        var password_od = $("#confirm_password").val();
        $.ajax({
            url: WEB_API_URL+"user/midfy_passwd",
            type: "Post",
            data: {'token':token,'password':passwd,'newpassword':password,'newpasswords':password_od},
            dataType:'json',
            async:false,
            success: function (result){
                if(result.status == 0) {
                    localStorage.CURRENT_USER_ID = "";
                    localStorage.CURRENT_USER_TypeLX = "";
                    layer.open({
                        content: result.msg
                        ,shadeClose: false
                        ,btn: '我知道了'
                        ,yes:function(){
                            location.href = "/login/index/";
                        }
                    });

                }else{
                    layer.open({
                        content: result.msg
                        ,shadeClose: false
                        ,btn: '我知道了'
                    });
                }
            }

        })
    }

</script>

<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/user/password',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/user/password',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
{/block}
{block name='menu'}

{/block}