<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>职拓e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="//www.wisecareer.org/css/zhituo/style.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/zhituo/user_1.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/zhituo/space.css" type="text/css" rel="stylesheet" />
	<script src="//www.wisecareer.org/js/jquery-1.8.3.min.js"></script>
	<script src="//www.wisecareer.org/js/layer/mobile/layer.js"></script>
	<!--[if IE]>
	<script src="//www.wisecareer.org/js/html5shiv.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="//www.wisecareer.org/js/layer/mobile/need/layer.css"/>

	<link rel="stylesheet" type="text/css" href="//www.wisecareer.org/css/zhituo/layui.css" />
	<script src="/static/zhituo/js/base.min.js"></script>
	<script src="/static/zhituo/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

</head>
<body>
<!-- head -->
	<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
		<h1 style="margin: 0">主要职业经历</h1>
		<a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
	</div>

<!-- home -->
<div id="dBody">
	<div class="mycontent">

		</div>
</div>


<script src="//www.wisecareer.org/js/flickity-docs.min.js"></script>
<script type="text/javascript">
	$(function(){
		isHaveLogin('/jiaolian/experience');
	});
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串

		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			return str;
		}
	}


	Request = GetRequest();
	var id = getUrlParam("id");
	var eid = localStorage.CURRENT_USER_ID;
	$.getJSON(WEB_API_URL + "star/experience?" + Request, {token: eid,uid:id}, function (json) {
		var str1 = "";
		var str2 = "";
		str1+='<div class="cleardiv50"></div>';
		var pic=''
		if(json.data==''){
			str1+='<div class="cleardiv20" style="background: #fff;"></div><h3 style="font-size: 14px;line-height: 20px;padding: 10px 0;background: #fff;text-align: center">暂无职业经历</h3><div class="cleardiv20" style="background: #fff"></div>	';
		}else{
			$.each(json.data, function (index, array) {
				str1 +='<table width="100%" border="0" cellpadding="0" cellspacing="0"  id="modfiy72" style="color: #666666;padding:10px;background: #fff">';
				str1 +='<tr><td style="padding:5px 0">所属机构:</td><td valign="middle" colspan="2">'+array['company']+'</td></tr>';
				str1 +='<tr><td style="padding:5px 0" width="80">机构logo:</td><td valign="middle" style="padding: 5px 0"><span><img src="'+array['logo']+'" alt="" height="50"/></span></td>';
				str1 +='<td width="20">&nbsp;</td></tr><tr><td style="padding:5px 0" width="80">工作时长:</td><td valign="middle"><span>'+array['timelong']+'年</span></td><td width="20">&nbsp;</td></tr>';
				str1 +='<tr><td width="90" style="padding:5px 0">行业:</td><td valign="middle" colspan="2">'+array['tpname']+'</td></tr>';
				str1 +='<tr><td style="padding:5px 0">职业:</td><td valign="middle"  colspan="2">'+array['zhiye']+'</td></tr>';
				str1 +='<tr><td style="padding:5px 0">职能:</td><td valign="middle" colspan="2">'+array['zhin']+'</td></tr>';
				str1 +='<tr><td style="padding:5px 0">职级:</td><td valign="middle" colspan="2">'+array['zjname']+'</td></tr>';
				str1 +='<tr><td style="padding:5px 0">职责描述:</td><td valign="middle" colspan="2">'+array['content']+'</td></tr>';
				str1 +='<tr><td style="padding:5px 0" >经验关键词:</td><td valign="middle" colspan="2">'+array['keyword']+'</td></tr>';
				str1 +='</table><div class="clear cleardiv5"></div>';

			})
			str1 +='<div class="cleardiv50"></div>';
		}

		$('div.mycontent').html(str1);
	});

	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/jiaolian/experience',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/jialian/experience',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});
</script>

<script src="//www.wisecareer.org/js/zhituo/layui.js" charset="utf-8"></script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552666'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273552666'type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
