<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>职拓e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="//www.wisecareer.org/css/zhituo/style.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/zhituo/user_1.css" type="text/css" rel="stylesheet" />
	<script src="//www.wisecareer.org/js/jquery-1.8.3.min.js"></script>
	<script src="//www.wisecareer.org/js/layer/mobile/layer.js"></script>
	<!--[if IE]>
	<script src="//www.wisecareer.org/js/html5shiv.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="//www.wisecareer.org/js/layer/mobile/need/layer.css"/>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		input#close{
			width: 138px;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			font-weight: 600;
			text-align: center;
			display: block;
			border-radius: 8px;
			border: none;
			color: #fff;
			background: #f58020;
			-webkit-appearance: none;
		}
		input{
			position: absolute;
			top: 0;
			left: 0;
		}
	</style>
</head>
<body>
<!-- head -->
	<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
		<h1 style="margin: 0">签约咨询</h1>
		<a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
	</div>

<!-- home -->
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
		<div class="inner">
			<div class="cleardiv10"></div>
			<table width="100%">
				<tr>
					<td width="70" onclick="location.href='/jiaolian/space/'"><img src="//www.wisecareer.org/images/zhituo/ztez.png" alt="" width="100%"/></td>
					<td align="center" valign="middle" rowspan="2"><img src="//www.wisecareer.org/images/zhituo/hudong.png" alt="" width="100%"/></td>
					<td width="70"><img src="//www.wisecareer.org/images/zhituo/ztez.png" alt="" width="100%"/></td>
				</tr>
				<tr>
					<td width="70" align="center" style="font-size: 16px;line-height: 30px" onclick="location.href='/jiaolian/space/'">教练</td>
					<td width="70" align="center" style="font-size: 16px;line-height: 30px">学员</td>
				</tr>
				<tr>
					<td valign="middle" align="center" colspan="3"><input type="button" value="退出咨询" id="close"  onclick="location.href='/jiaolian/evaluate/'"/></td>
				</tr>
			</table>
			<div class="cleardiv10"></div>
		</div>
		<div class="cleardiv5" style="background: #ebebeb"></div>
		<div class="inner">
			<div class="cleardiv10"></div>
			<div id="content">
				<table class="student_say" style="padding-bottom: 20px">
					<tr>
						<td width="40" valign="top"><img src="//www.wisecareer.org/images/zhituo/ztez.png" alt="" width="100%"/></td>
						<td width="10"></td>
						<td style="padding: 10px;border-radius: 5px;background: #ebebeb;font-size: 12px">近日，千图网执行负责人王伟在出席IxDC 2017时透露，电商方面的素材已经成为千图网的第二大品类。千图网重视电商类素材品类的建设和维护，他认为，淘宝、京东等电商卖家体量数以百万计，几乎每一个卖家都有店铺装修、产品推广图设计、促销视觉设计的需求，设计需求频次极高，“淘宝美工、店主、运营，服务好这些用户，这个市场就有几百万的体量在”。千图网正在帮助设计师解决效率问题，比如设计元素、排版布局地快速借鉴和学习，以多而全来服务设计行业数量庞大的底端用户凸显了千图网的差异化定位和价值。</td>
						<td width="40"></td>
					</tr>
				</table>
				<table class="jiaolian_say" style="padding-bottom: 20px">
					<tr>
						<td width="40"></td>
						<td style="padding: 10px;border-radius: 5px;background: #ebebeb;font-size: 12px">近日，千图网执行负责人王伟在出席IxDC 2017时透露，电商方面的素材已经成为千图网的第二大品类。千图网重视电商类素材品类的建设和维护，他认为，淘宝、京东等电商卖家体量数以百万计，几乎每一个卖家都有店铺装修、产品推广图设计、促销视觉设计的需求，设计需求频次极高，“淘宝美工、店主、运营，服务好这些用户，这个市场就有几百万的体量在”。千图网正在帮助设计师解决效率问题，比如设计元素、排版布局地快速借鉴和学习，以多而全来服务设计行业数量庞大的底端用户凸显了千图网的差异化定位和价值。</td>
						<td width="10"></td>
						<td width="40" valign="top"><img src="//www.wisecareer.org/images/zhituo/ztez.png" alt="" width="100%"/></td>
					</tr>
				</table>
			</div>
			<div class="cleardiv10"></div>
		</div>
	</div>
	<div class="cleardiv20"></div>
	<div class="cleardiv20"></div>
	<div class="cleardiv5"></div>
</div>

<table width="100%" id="dFoot" style="line-height: 50px;height: 50px;padding: 5px 0">
	<tr>
		<td width="5"></td>
		<td style="position: relative"><input type="text" id="text" class="appearance"/></td>
		<td width="80" style="position: relative"><input type="button" value="发送" id="btn" class="appearance"/></td>
		<td width="5"></td>
	</tr>
</table>
<script src="//www.wisecareer.org/js/flickity-docs.min.js"></script>
<script type="text/javascript">
	$(function(){
		isHaveLogin('/jiaolian/launch');
	});
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串

		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			return str;
		}
	}


	Request = GetRequest();
	var uid = localStorage.CURRENT_USER_ID;
	var text1='';
	var text2='';
	var text3='';

	$('input#btn').live('click',function(){
		var content=document.getElementById('text').value;
		if(content !=''){
			var str='';
			str+='<table class="student_say" style="padding-bottom: 20px"><tr><td width="40" valign="top"><img src="//www.wisecareer.org/images/zhituo/ztez.png" alt="" width="100%"/></td><td width="10"></td>';
			str+='<td style="padding: 10px;border-radius: 5px;background: #ebebeb;font-size: 12px">'+content+'</td><td width="40"></td></tr></table>';
			content='';
			$('#content').append(str);
			$('input#text').val('');
		}
	})

	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/jiaolian/launch',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/jialian/launch',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552666'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273552666'type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
