<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>职拓e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="//www.wisecareer.org/css/zhituo/style.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/zhituo/user_1.css" type="text/css" rel="stylesheet" />
	<link href="//www.wisecareer.org/css/zhituo/space.css" type="text/css" rel="stylesheet" />
	<script src="//www.wisecareer.org/js/jquery-1.8.3.min.js"></script>
	<script src="//www.wisecareer.org/js/layer/mobile/layer.js"></script>
	<!--[if IE]>
	<script src="//www.wisecareer.org/js/html5shiv.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="//www.wisecareer.org/js/layer/mobile/need/layer.css"/>

	<link rel="stylesheet" type="text/css" href="//www.wisecareer.org/css/zhituo/layui.css" />
	<script src="/static/zhituo/js/base.min.js"></script>
	<script src="/static/zhituo/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

	<style>
		input.consultation{
			background: #f58020;
			width: 100%;
			height: 40px;
			border: none;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			-webkit-appearance: none;
		}
		td{
			font-size: 16px;
		}
	</style>
</head>
<body>
<!-- head -->
	<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
		<h1 style="margin: 0">推荐阅读</h1>
		<a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
	</div>

<!-- home -->
<div id="dBody">
	<div class="mycontent">

		</div>
</div>


<script src="//www.wisecareer.org/js/flickity-docs.min.js"></script>
<script type="text/javascript">
	$(function(){
		isHaveLogin('/jiaolian/read');
	});
	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串

		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			return str;
		}
	}


	Request = GetRequest();
	var id = getUrlParam("id");
	var eid = localStorage.CURRENT_USER_ID;
	$.getJSON(WEB_API_URL + "star/read?" + Request, {token: eid,uid:id}, function (json) {
		var str1 = "";
		var str2 = "";
		str1+='<div class="cleardiv50"></div><h3 style="font-size: 14px;line-height: 20px;padding: 10px 0;background: #fff;text-align: center">推荐只限原著！各类教材、畅销书及小说除外。</h3>';
		var pic='';
		if(json.data==''){
			str1+='<div class="cleardiv5"></div><div class="cleardiv20" style="background: #fff;"></div><h3 style="font-size: 14px;line-height: 20px;padding: 10px 0;background: #fff;text-align: center">暂无推荐阅读</h3><div class="cleardiv20" style="background: #fff"></div>	';
		}else{
			$.each(json.data, function (index, array) {
				if(array['pic']==''){
					pic='/public/img/zanwu.png';
				}else{
					pic=array['pic']
				}
				str1 +='<div class="cleardiv5" style="background: #ebebeb"></div><div class="content" id = "read8">';
				str1 +='<table width="100%"><tr><td width="25%" rowspan="3" valign="top"><img src="http://jiaolian.wisecareer.org'+pic+'" alt="" width="100%" /></td>';
				str1 +='<td width="5%"></td><td width="60%">书名：<span>'+array['title']+'</span></td></tr>';
				str1 +='<tr><td width="5%"></td><td width="60%">作者：<span>'+array['author']+'</span></td></tr>';
				str1 +='<tr><td width="5%"></td><td width="60%">推荐理由：<p>'+array['reason']+'</p></td></tr></table></div>';
			})
			str1 +='<div class="clear"></div>';
		}

		$('div.mycontent').html(str1);
	});


	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/jiaolian/read',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/jialian/read',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});
</script>

<script src="//www.wisecareer.org/js/zhituo/layui.js" charset="utf-8"></script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552666'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273552666'type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
