<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>职拓e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="//www.wisecareer.org/css/zhituo/style.css" type="text/css" rel="stylesheet" />
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="//www.wisecareer.org/js/jquery.mousewheel.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<link rel="stylesheet" href="/static/public/css/layui.css"  media="all">
	<script src="/static/zhituo/js/base.min.js"></script>
	<script src="/static/zhituo/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		h2{text-align: center;font-size: 18px;line-height: 24px;}
		h4{font-size: 12px;line-height: 24px;}
		h3{font-size: 14px;line-height: 30px}
		ul>li{color: #666;line-height: 24px}
		span.biaoqian{display: inline-block;padding: 0 5px;background: none;margin-left: 5px;font-size: 12px;margin-top: 2px;margin-bottom: 2px}
		h3#worker{
			background-image: url(//www.wisecareer.org/images/xueye/icon/arrow-right-xiao.png);
			background-repeat: no-repeat;
			background-position: right center;
			line-height: 40px
		}
		div#content p{
			color: #666;
			font-size: 14px;
			line-height: 22px;
			padding: 0 5px;
		}
	</style>
</head>
<body>

<div id="dHead" style="position: fixed">
	<div class="head">
		<h1 class="job_name" style="margin: 0"></h1>
		<a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
	</div>
</div>

<!--<a href="/index/index.html" id="screen_btn"><img src="//xueye.wisecareer.org/images/xueye/icon/nav-1-bai.png" alt="" width="25"/></a>-->

<div id="dBody" style="bottom: 40px">
	<div class="cleardiv50"></div>
	<div class="mycontent">
		<table width="100%" style="background: #fff">
			<tr><td align="center" id="pic"></td></tr>
		</table>
		<div class="cleardiv5" style="background: #ebebeb"></div>
		<div class="inner">
			<div class="cleardiv10"></div>
			<h2 class="job_name"></h2>
			<!--<h2>87%</h2>-->
			<div class="cleardiv5" style="border-bottom: 1px solid #ebebeb"></div>
			<div class="cleardiv20"></div>
			<h3 id="zhiye" style="line-height: 24px;padding: 5px 0">归属行业</h3>
			<h3 id="zhuanye" style="line-height: 24px;padding: 5px 0">对应专业</h3>
			<!--<h4></h4>-->
			<div class="cleardiv20" style="border-bottom: 1px solid #ebebeb"></div>
			<div class="cleardiv10"></div>
			<h3 class="level2" onclick="jijiang();" >认识这个职业的代言人？</h3>
			<h3 class="level2" id="miaosu" stop='1' style="background-image: url(//www.wisecareer.org/images/xueye/icon/arrow-xia-xiao.png);">职业描述</h3>
			<div id="content" style="color: #666"></div>
			<div class="cleardiv20"></div>
		</div>
	</div>
</div>



<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552666'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273552666'type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
<script>
	$(function(){
		isHaveLogin('/jcyj/job');
	});
</script>
<script src="/static/public/js/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串

		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			return str;
		}
	}


	Request = GetRequest();

	var uid = localStorage.CURRENT_USER_ID;
	var id = getUrlParam("id");
	var num = getUrlParam("num");
	var job='';
	function scrollLoad(){
		var str1 = '';
		var str2 = '';
		var str3 = '';
		$.getJSON(WEB_API_URL + "classnamel/occupation?", {id:id}, function (json) {
			var data=json.data;
			job=data.titlename;
			str1 ='<div class="cleardiv5"></div><img src="http://pic.wisecareer.org/od/'+data['pic']+'" alt="" height="150"/><div class="cleardiv5"></div>';
			str2+='归属行业&nbsp;&nbsp;';
			for(var i=0;i<data['tpnames'].length;i++){
				str2 +='<span class="biaoqian" id="'+data['tpnames'][i]['tpid']+'">'+data['tpnames'][i]['tpname']+'</span>';
			}
			str3+='相关专业&nbsp;&nbsp;';
			for(var y=0;y<data['zynames'].length;y++){
				str3 +='<span class="biaoqian">'+data['zynames'][y]['titlename']+'</span>';
			}
			$('td#pic').html(str1);
			$('.job_name').html(data['titlename']);
			$('div#content').html(data['content']);
			$('h3#zhiye').html(str2);
			$('h3#zhuanye').html(str3);
		});
	}
	scrollLoad();





	function hide(){
		$('.show_hide').hide();
	}
	function show(){
		$('.show_hide').show();
	}

	$('#miaosu').live('click',function(){
		if($(this).attr('stop')==0){
			$(this).attr('stop',1);
			$(this).css('backgroundImage','url(//xueye.wisecareer.org/images/xueye/icon/arrow-xia-xiao.png)');
			$(this).next().show();
		}else{
			$(this).attr('stop',0);
			$(this).css('backgroundImage','url(//xueye.wisecareer.org/images/xueye/icon/arrow-right-xiao.png)');
			$(this).next().hide();
		}

	});


	function jijiang(){
		if(num==0){
			layer.open({
				content: '抱歉。暂无为此代言的教练'
				,btn:'我知道了'
				,shadeClose: false
				,yes: function(index){
					layer.close(index);
				}
			});
		}else{
			layer.open({
				content: '你想认识此行业的代言人吗?'
				,btn: ['确定', '取消']
				,shadeClose: false
				,yes: function(index){
					window.location.href='/jiaolian/daiyan?id='+id;
					layer.close(index);
				}
			});
		}


	}



	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/hangye/zy_content',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '跨行业职业体验及现场实习平台',
			desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
			link: 'http://zt.wisecareer.org/hangye/zy_content',
			imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});
</script>


