<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>智能学业e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet" />
	<link href="/static/xueye/css/user_info.css" type="text/css" rel="stylesheet" />
	<link href="//xueye.wisecareer.org/css/xueye/input.css" type="text/css" rel="stylesheet" />
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<script src="/static/public/js/base.min.js"></script>
	<script src="/static/public/js/com.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">

	

	</script>
	<style>
		.danxuan>li, .duoxuan>li {
			line-height: normal;
			padding: 5px 2%;
			height: 40px;
		}
		#chongzhi{position: fixed;bottom: 0;left: 0;background: #fff}
		#chongzhi td{font-size: 16px}
		.danxuan2>li, .duoxuan2>li{
			height: 50px;
			padding: 10px 5px;
			width: 98%;
		}
		.danxuan2>li>a, .duoxuan2>li>a{}
		.danxuan2>li>a>table td{
			line-height: 20px;
		}
		.auth>h6{
			border: none;
			padding: 0 10px 0 35px;
			background: url(//xueye.wisecareer.org/images/xueye/icon/weixin_16.png) no-repeat 10px center;
		}
		.auth>h6:active{
			background: #ebebeb url(//xueye.wisecareer.org/images/xueye/icon/weixin_16.png) no-repeat 10px center;
		}
		.auth>h6#card {
			background: url(//xueye.wisecareer.org/images/xueye/icon/card.png) no-repeat 10px center;
		}
		.auth>h6#card:active{
			background: #ebebeb url(//xueye.wisecareer.org/images/xueye/icon/card.png) no-repeat 10px center;
		}
		#password_list span{
			width: 20%;
			line-height: 30px;
			text-align: left;
			display: inline-block;
			font-size: 16px;
			color: #666;
		}
		#password_list input[type=text], #password_list input[type=password], #password_list input[type=number]{
			width: 72%;
			height: 14px;
			line-height: 14px;
			font-size: 14px;
			padding: 10px 0 10px 5%;
			color: #737475;
		}
	</style>
</head>
<body>

<!-- head -->
<div id="dHead">
	<div class="head">
		<h1 style="margin: 0">购买套餐</h1>
		<a href="javascript:window.history.back(-1)" class="return"><i class="return-right"></i></a>
	</div>
</div>
<!-- user-info  -->
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
			<div class="auth inner">
				<div class="cleardiv10"></div>
				<h3 class="title">请选择套餐</h3>
				<ul class="danxuan2 clear">
					<li><a href="javascript:void(0);" style="display: block;padding: 5px 10px;text-align: center" num="450"><table width="100%"><tr><td align="left" width="70%" style="font-size: 16px">双年vip会员</td><td align="right" width="30%" rowspan="2" valign="middle" style="font-size: 16px;color: #666">￥&nbsp;<span class="font_red">450</span></td></tr><tr><td align="left" style="font-size: 12px">24个月会员</td></tr></table></a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
					<li><a href="javascript:void(0);" style="display: block;padding: 5px 10px;text-align: center" num="300"><table width="100%"><tr><td align="left" width="70%" style="font-size: 16px">一年vip会员</td><td align="right" width="30%" rowspan="2" valign="middle" style="font-size: 16px;color: #666">￥&nbsp;<span class="font_red">300</span></td></tr><tr><td align="left" style="font-size: 12px">12个月会员</td></tr></table></a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
				</ul>
				<div class="cleardiv20"></div>
				<div class="cleardiv10"></div>
				<h3 class="title" style="border-top: 1px solid #ebebeb;padding-top: 10px">请选择套餐</h3>
				<h6 style="line-height: 50px"><label for="money1" style="display: block">微信支付 <span class="floatright"><input type="radio" name="money" checked id="money1"/>&nbsp;&nbsp;</span></label></h6>
				<h6 id="card" style="line-height: 50px"><label for="money2" style="display: block">充值卡充值 <span class="floatright"><input type="radio" name="money" id="money2"/>&nbsp;&nbsp;</span></label></h6>
				<ul id="password_list" style="display: none;padding-bottom: 10px">
					<li><span>卡号：</span><input type="text" id="kahao" class="appearance shuru" name="kahao" style="border: solid 1px rgba(0,0,0,0.3)"/></li>
					<li><span>密码：</span><input name="password" type="number" class="appearance shuru" id="password" style="border: solid 1px rgba(0,0,0,0.3)" maxlength="8"/></li>
				</ul>
				<div class="cleardiv10" style="border-top: 1px solid #ebebeb"></div>
				<div class="cleardiv20"></div>
				<div class="cleardiv20"></div>

				<table width="100%" id="chongzhi">
					<tr>
						<td width="5%"></td>
						<td width="55%">总计&nbsp;&nbsp;￥&nbsp;<span class="font_red"><span id="money">0</span>.00 元</span></td>
						<td width="40%"><input type="button" value="确认支付" class="btn_yes recharge" style="margin:0;width: 100%;height: 40px"/></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
<script>
	var stop=false;
	$('.danxuan2>li>a').click(function(){
		stop=true;
		var num=$(this).attr('num');
//		$('.money_text').hide();
		$('.danxuan2>li>a').removeClass('this');
		$('.danxuan2>li>img').hide();
		$(this).addClass("this");
		$(this).next().show();
		$('#money').html(num);
	});

	$(".recharge").click(function(){
		if(stop==true){
			layer.open({
				content: '您确定支付吗？'
				,btn: ['确定', '取消']
				,shadeClose: false
				,yes: function(index){
					if($('#money2').attr('checked')=='checked'){

					}else{
						var num = $('#money').html();
						var url ="/wxpay/example/jsapi.php"
						MakeForm(num,url);
					}
					layer.close(index);
				}
			});
		}else{
			layer.open({
				content: '请选择充值金额'
				,shadeClose: false
				,btn: '我知道了'
			});
		}


	});

		function MakeForm(money,url){  
		    // 创建一个 form  
		    var form1 = document.createElement("form");  
		    form1.id = "form1";  
		    form1.name = "form1";  
		    // 添加到 body 中  
		    document.body.appendChild(form1);
		    // 创建一个输入  
		    var input = document.createElement("input");  
		    // 设置相应参数  
		    input.type = "hidden";  
		    input.name = "money";  
		    input.value = money;  
		    // 将该输入框插入到 form 中  
		    form1.appendChild(input);  
		    // form 的提交方式  
		    form1.method = "POST";  
		    // form 提交路径  
		    form1.action = url; 
		    // 对该 form 执行提交  
		    form1.submit();  
		    // 删除该 form  
		    document.body.removeChild(form1);  
		}

	function tishi(){
		layer.open({
			content: '职拓币，是你在智能学业E站内购买服务时间和服务项目的代币。职拓币也可用于“职拓E站”的模拟职业体验，以及“签约导师”服务。'
			,btn: '我知道了'
		});
	}
	$('h6').live('click',function(){
		$('ul#password_list').hide();
	});
	$('h6#card').live('click',function(){
		$('ul#password_list').show();
	});
</script>
<!-- nav -->
<script type="text/javascript">
	$(function(){
		isHaveLogin('/index/auth.html');
	});
</script>



<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/index/vip',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/index/vip',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>