<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>职拓e站</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
    <meta name="MobileOptimized" content="320"/>
    <link href="//www.wisecareer.org/css/zhituo/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//www.wisecareer.org/css/zhituo/yuan.css"/>
    <link href="//www.wisecareer.org/css/zhituo/login.css" type="text/css" rel="stylesheet" />
    <script src="//www.wisecareer.org/js/jquery-1.8.3.min.js"></script>
    <script src="//www.wisecareer.org/js/layer/mobile/layer.js"></script>
    <link rel="stylesheet" href="//www.wisecareer.org/js/layer/mobile/need/layer.css"/>
    <script src="/static/zhituo/js/base.min.js"></script>
    <script src="/static/zhituo/js/com.min.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
    <style>
        .mycontent .shuru{
            height: 40px;
            padding-left: 10%;
            padding-right: 5%;
            color: #666;
            border: solid 1px rgba(0,0,0,0.3);
            margin-bottom: 10px;
        }
        .mycontent .photo{
            background: url("http://xueye.wisecareer.org/images/xueye/icon/shouji.png") no-repeat 4px center;
            width: 85%;
        }
        .mycontent .yanzheng{
            background: url("http://xueye.wisecareer.org/images/xueye/icon/yanzheng.png") no-repeat 4px center;
            width: 40%;
        }
        .mycontent .huoqu{
            font-size: 16px;
            margin-left: 5px;
            height: 36px;
            width: 30%;
            border-radius: 6px;
            background:#f58020;
            color: #fff;
            font-weight: bold;
        }
        .mycontent h4 a,.mycontent h4{
            line-height: 36px;
            font-size: 14px;
            color: #298bee;
        }
        .mycontent h4{
            text-align: center;
        }
        .btn_yes{
            margin: 10px auto;
        }
        .mycontent h2{
            margin-top: 10px;
            text-align: center;
            line-height: 50px;
            height: 50px;
            font-size: 16px;
            color: #666;
            background: url("http://xueye.wisecareer.org/images/xueye/icon/line.png") no-repeat center center;
        }
        .jieru li{
            float: left;
            width: 30%;
            padding-left: 10%;
            padding-right: 10%;
            text-align: center;
        }
        .jieru li:nth-child(2){
            float: right;
        }
        .jieru li a{
            width: 60%;
            display: inline-block;
        }
        .jieru img{
            width: 100%;
        }
    </style>
    <script>
        var count = 60; //间隔函数，1秒执行
        var curCount;//当前剩余秒数
        function sendMessage() {

            curCount = count;
            var partten = /^\d{10,13}$/;

            if (!partten.test(document.getElementById("phone").value)) {
                layer.open({
                    content: '请输入正确的手机号码！'
                    ,shadeClose: false
                    ,btn: '我知道了'
                });

                return;
            }else{
                //产生验证码

                //设置button效果，开始计时
                $("#btnSendCode").attr("disabled", "true");
                $("#btnSendCode").val("" + curCount + "秒内输入");
                InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
//向后台发送处理数据
                var vcode = $('#vcode').val();
                $.ajax({
                    url: "/ajax/code",
                    type: "Post",
                    data: "sms=2&vcode="+vcode+"&tel=" + $("#phone").val(),
                    success: function (data){
                        if(data.status == 20000){
                            layer.open({
                                content: '验证码已发送到你的手机!'
                                ,shadeClose: false
                                ,btn: '我知道了'
                            });
                            //$('#nyz').val(msg);
                        } else {
                            layer.open({
                                content: data.msg
                                ,shadeClose: false
                                ,btn: '我知道了'
                            });
                            window.clearInterval(InterValObj);//停止计时器
                            $("#btnSendCode").removeAttr("disabled");//启用按钮
                            $("#btnSendCode").val("重新发送");
                            myform.yz.focus();
                        }
                    }
                })
            }
        }
        //timer处理函数
        function SetRemainTime() {
            if (curCount == 0) {
                window.clearInterval(InterValObj);//停止计时器
                $("#btnSendCode").removeAttr("disabled");//启用按钮
                $("#btnSendCode").val("重新发送");
                $.ajax({
                    url: "/ajax/vcode",
                    type: "Post",
                    success: function (data){
                        $('#vcode').val(data);
                    }
                })
                //code = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效
            }else {
                curCount--;
                $("#btnSendCode").val("" + curCount + "秒内输入");
            }
        }

        function Verify(){
            var tel = $("#phone").val();
            var yz = $("#yz").val();
            var obj = $('#btn_yes');
            document.submit();

        }

    </script>
<!-- home -->
    <div id="dHead">
        <div class="head">
            <h1 style="font-family:Arial,'微软雅黑', Helvetica, sans-serif;">修改密码</h1>
            <a href="javascript:history.go(-1)" class="return"><i class="return-right"></i></a>
        </div>
    </div>
<div id="dBody">
    <div class="cleardiv50"></div>

    <div class="mycontent">
        <div>
                <br/>
                <ul>
                    <li style="position: relative"><input type="text" id="phone" name="phone" placeholder="请输入手机号" class="photo shuru"/><span class="login_tishi">11111</span></li>
                    <li>
                        <table width="100%">
                            <tr>
                                <td width="50%" valign="top"><input type="number"  id="yz"  name="yz" placeholder="请输入验证码" class="yanzheng shuru" style="padding-left: 20%;width: 75%"/></td>
                                <td width="1%"></td>
                                <td width="49%" valign="top"><input type="button" value="获取验证码" id="btnSendCode" class="tijiao" onclick="sendMessage()" /></td>
                            </tr>
                        </table>
                    </li>
                    <li><input type="password" placeholder="请输入新密码" class="mima shuru" id="mm" name="password" autocomplete="off"/><span class="login_tishi"></span></li>
                    <li><input type="button" value="确定修改" class="tijiao" style="margin-top: 10px" onclick="submit()"/></li>
                </ul>
            <div class="cleardiv55"></div>
        </div>
    </div>
</div>
<!-- nav -->
<script> 
    $("#phone").focus(function(){
        $(this).next().html("");
        $(this).next().hide();
    })
    $("#phone").blur(function(){
        var tel = $("#phone").val();
        var parent = $(this).parent();
        for(var i=0;i<11;i++){
            var str= tel.substring(i,i+1);
            if(isNaN(str)){
                $(this).next().html("输入必须为数字");
                $(this).next().show();
            }
        }
        if(tel.length==0){
            $(this).next().html("输入号码不能为空");
            $(this).next().show();
        }else if(tel.length>11||tel.length<11){
            $(this).next().html("输入号码为11位");
            $(this).next().show();
        }
    })

    function submit(){
        var phone=$('#phone').val();
        var yz=$('#yz').val();
        var password=$('#mm').val();
        if(phone==''){
            layer.open({
                content: '手机号不能为空！'
                ,shadeClose: false
                ,btn: '我知道了'
            });
        }else if (yz=='') {
            layer.open({
                content: '验证码不能为空！'
                ,shadeClose: false
                ,btn: '我知道了'
            });
        }else if (password=='') {
            layer.open({
                content: '密码不能为空！'
                ,shadeClose: false
                ,btn: '我知道了'
            });
        }else if (password<6&&password>16) {
            layer.open({
                content: '密码为6-16个字符！'
                ,shadeClose: false
                ,btn: '我知道了'
            });
        }else{
            $.ajax({
                type:"POST",
                url:WEB_API_URL+"login/newpass?",
                data:"phone="+phone+"&password="+password+"&yz="+yz,
                cache:false, //不缓存此页面
                success:function(data){
                    if(data.status==10006){
                        layer.open({
                            content: data.msg
                            ,shadeClose: false
                            ,btn: '知道了',
                            yes:function(index){
                                location.href='/login/index/';
                                layer.close(index);
                            }
                        });
                    }else{
                        layer.open({
                            content: data.msg
                            ,shadeClose: false
                            ,btn: '知道了',
                            yes:function(index){
                                layer.close(index);
                            }
                        });
                    }
                }
            });
        }
    }


    wx.config({
        debug: false,//关闭调试模式
        appId: '{$signPackage["appId"]}',
        timestamp: {$signPackage["timestamp"]},
        nonceStr: '{$signPackage["nonceStr"]}',
        signature: '{$signPackage["signature"]}',
        /*appId: 'xxxxxx',
         timestamp: xxxxx,
         nonceStr: 'xxxxx',
         signature: 'xxxxx',*/

        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ'
        ]
    });
    wx.ready(function () {

        // 2. 分享接口
        // 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


        wx.onMenuShareAppMessage({
            title: '跨行业职业体验及现场实习平台',
            desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
            link: 'http://zt.wisecareer.org/login/password',
            imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
            trigger: function (res) {
                // alert('用户点击发送给朋友');
            },
            success: function (res) {
                //alert('已分享');
                //   window.location.href = 'http://m.duolehuan.com/';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });

        // 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
        wx.onMenuShareTimeline({
            title: '跨行业职业体验及现场实习平台',
            desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
            link: 'http://zt.wisecareer.org/login/password',
            imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
            trigger: function (res) {
                // alert('用户点击分享到朋友圈');
            },
            success: function (res) {
                //alert('已分享');
                //window.location.href = '';
            },
            cancel: function (res) {
                //alert('已取消');
            },
            fail: function (res) {
                //alert(JSON.stringify(res));
            }
        });
    });
</script>


    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552666'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273552666'type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>