<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>智能学业e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="/static/xueye/css/style.css" type="text/css" rel="stylesheet" />
	<script src="/static/public/js/jquery-1.8.3.min.js"></script>
	<script src="/static/lib/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="/static/lib/layer/mobile/need/layer.css"/>
	<script src="/static/public/js/base.min.js"></script>
	<script src="/static/public/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		table.character tr td{
			font-size: 14px;
			padding: 5px 0;
			color: #666;
		}
		#button{
			width: 100%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			color: #fff;
			background: #00bb0c;
			-webkit-appearance:none;
			font-size: 16px;
		}
	</style>
</head>
<body>
<!-- head -->
	<div class="head" style="position: fixed;top: 0;left: 0;z-index: 300">
		<h1 style="margin: 0">性格测评</h1>
		<a href="javascript:tishi()" class="return"><i class="return-right"></i></a>
	</div>
<link href="/static/xueye/css/message.css" type="text/css" rel="stylesheet" />
<!-- home -->
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
			<div class="content">

			</div>
			<table width="100%">
				<tr>
					<td align="center">
						<input type="hidden" name="page" value="">
						<input type="submit" name="button" id="button" class="anniucp"  value="下一页" >
					</td>
				</tr>
				<tr><td style="line-height: 5px">&nbsp;</td></tr>
				<tr>
					<td style="color: #666;font-size: 14px" align="center">
						&nbsp; 第&nbsp;<span id="page"></span>&nbsp;页&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;共&nbsp;11&nbsp;页&nbsp;
					</td>
				</tr>
				<!--<tr>-->
					<!--<td align="center" width="60%" style="color: #666;font-size: 14px">&nbsp; 第&nbsp;<span id="page"></span>&nbsp;页&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;共&nbsp;11&nbsp;页&nbsp;</td>-->
					<!--<td align="right" width="40%">-->
                    <!-- -->
						<!--<input type="hidden" name="page" value="">-->
						<!--<input type="submit" name="button" id="button" class="anniucp"  value="下一页" style="float: right">-->
					<!--</td>-->
				<!--</tr>-->
			</table>
			<div class="cleardiv20"></div>
		</div>
	<div class="cleardiv50"></div>
</div>


<script type="text/javascript">

	var load_index =layer.open({type: 2, shadeClose: false ,content: '加载中'});
	$(function(){
		isHaveLogin('/character/index');
	});

	$('ul.danxuan>li>a').click(function(){
//		var attr1=$(this).next().attr('num');
//		$(this).next().val(attr1);
//		var tag = $(this).attr('tag');
//		$("#taglx>li>input[type='hidden']").remove();
//		$(this).after('<input name="lx" type="hidden"  value='+tag+' />' )
//		num++;
		$('ul.danxuan>li>a').removeClass("this");
		$(this).addClass("this");
		$('ul.danxuan>li>img').hide();
		$(this).next().show();
	});

	function GetRequest() {
		var url = location.search; //获取url中"?"符后的字串

		if (url.indexOf("?") != -1) {
			var str = url.substr(1);
			return str;
		}
	}
	var uid = localStorage.CURRENT_USER_ID;
	var Request = GetRequest();
	var cpid='';
	var ye='';
	var str='';
	var num=1;
	$.ajax({ type:"get", url:WEB_API_URL + "character/transfer?"  , async: false,data:{token: uid}, success: function(json){
		var data=json.data;
	 
		 
		if(json.status==0){
			if(data['ye']==11){
				$('input#button').val('完成');
			}

				$.each(data['data'], function (index, array) {
					str+='<div class="inner" style="padding: 0 15px"><table cellSpacing="0" cellPadding="0" width="100%" border="0" bgcolor="#FFFFFF" style="font-size:14px;padding: 10px 0">';
					str+='<tr><td  width="69%"><span style="font-weight:600;font-size: 16px;color: #666;line-height: 30px">'+array['listorder']+'．'+array['list']['tpname']+'</span></td></tr>';
					str+='<tr><td style="line-height:20px;color: #666;"><input id="cptid5" value="27" name="cptid5" type="hidden"><div class="cleardiv5"></div>';
					str+='<label for="'+array['listorder']+array['list']['daa']+'" style="padding:5px 0;display:block"><input id="'+array['listorder']+array['list']['daa']+'" style="float:right;position: relative;top: 4px;" alt="请选择第'+array['listorder']+'题" type="radio" name="'+num+'" value="'+array['listorder']+'-'+array['tid']+'-'+array['list']['id']+'-'+array['list']['daa']+'" /><span style="line-height: 20px">&nbsp;&nbsp;A．&nbsp;'+array['list']['leta']+'。</span></label>';
					str+='<label for="'+array['listorder']+array['list']['dab']+'" style="padding:5px 0;display:block"><input id="'+array['listorder']+array['list']['dab']+'" style="float:right;position: relative;top: 4px;" type="radio" name="'+num+'" value="'+array['listorder']+'-'+array['tid']+'-'+array['list']['id']+'-'+array['list']['dab']+'" alt="请选择第'+array['listorder']+'题" /><span style="line-height: 20px">&nbsp;&nbsp;B．&nbsp;'+array['list']['letb']+'。</span></label>';
					str+='</td></tr></table></div><div class="cleardiv5"></div>';
					num++;
				});
			$('span#page').html(data['ye']);
			$('div.content').html(str);
			cpid=data['cpid'];
			ye=data['ye'];
			layer.close(load_index);
		}else if(json.status==15012){
			window.location.href="/character/notice"
		 }else{
            window.location.href="/character/deviation?cpid="+data
	   }
		
	}});

function tishi(){
	layer.open({
		content: '你的性格测评尚未完成。确定要退出吗？如选择退出，下次进入将从本次中断的地方继续。'
		,btn: ['确定', '取消']
		,yes: function(index){
			window.location.href="/character/notice"
		}
	});
}

$('input#button').live('click',function(){
	if($('input:radio[name="1"]:checked').val()==null){
		var neirong=$('input:radio[name="1"]').attr('alt');
		layer.open({
			content: neirong
			,btn: '我知道了',
			shadeClose: false
		});
	}else if($('input:radio[name="2"]:checked').val()==null){
		var neirong2=$('input:radio[name="2"]').attr('alt');
		layer.open({
			content: neirong2
			,btn: '我知道了',
			shadeClose: false
		});
	}else if($('input:radio[name="3"]:checked').val()==null){
		var neirong3=$('input:radio[name="3"]').attr('alt');
		layer.open({
			content: neirong3
			,btn: '我知道了',
			shadeClose: false
		});
	}else if($('input:radio[name="4"]:checked').val()==null){
		var neirong4=$('input:radio[name="4"]').attr('alt');
		layer.open({
			content: neirong4
			,btn: '我知道了',
			shadeClose: false
		});
	}else{

		var load_index2 =layer.open({type: 2, shadeClose: false,content: '加载中'});
		var shuju=$('input:radio[name="1"]:checked').val()+','+$('input:radio[name="2"]:checked').val()+','+$('input:radio[name="3"]:checked').val()+','+$('input:radio[name="4"]:checked').val();

		$.ajax({
			type:"POST",
			url:WEB_API_URL + "character/handle?",
			cache:false ,//不缓存此页面
			data:{token: uid,cpid:cpid,ye:ye,data:shuju},
			success: function(json){
				if(json.status==0){
					location.reload();
					layer.close(load_index2);
					layer.open({type: 2, shadeClose: false ,content: '加载中'})
				}else{
					layer.close(load_index2);
					layer.open({
						content: '抱歉，网络加载失败！请您重新提交'
						,btn: '我知道了',
						shadeClose: false

					});
				}
			}})
	}

}) 
</script>


<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口

		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/character/index',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/character/index',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552621'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1273552621' type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>
