{extend name="layout/layout" }
	{block name="link"} 
    		<link href="__XUEYE__/css/aggregate.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/public/css/layui.css"  media="all"> 
	<script src="__XUEYE__/js/city.js"></script> 
    <script src="/static/public/js/layui.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		p#shuoming{
			padding: 0 5px;
			font-size: 12px;
			color: #00bb0c;
			line-height: 20px;
			text-indent: 24px;
		}
	</style>
{/block}
<!-- head -->
{block name='head'}
<div id="dHead" style="position: fixed;top: 0;left: 0;z-index: 300;">
	<div class="head">
		<h1 style="margin: 0">大学分数线</h1>
		<a href="/scores/index" class="return"><i class="return-right"></i></a>
		<a href="/index/index.html" id="screen_btn"><img src="//xueye.wisecareer.org/images/xueye/icon/nav-1-bai.png" alt="" width="25" style="display: inline-block;vertical-align: middle;width: 25px"/></a>

	</div>
</div>
{/block}
<!-- home -->
{block name='content'}
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
					<div class="inner school">
						<form method="GET" action="/scores/result4.html" onsubmit="return search()">
							<table width="100%">
								<tr>
									<td colspan="2" style="line-height: 20px">&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;考生所在地</td>
								</tr>
								<tr>
									<td>
										<select name="stu_city" id="stu_city">
										</select>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="line-height: 10px">&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;文&nbsp;/&nbsp;理</td>
								</tr>
								<tr>
									<td>
										<ul class="danxuan3 clear" id="wl">
											<li><a href="javascript:void(0);" tag="1" style="display: block;padding:0;text-align: center" >文科</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
											<li><a href="javascript:void(0);" tag="2" style="display: block;padding:0;text-align: center"  >理科</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="line-height: 10px">&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;院校层次</td>
								</tr>
								<tr>
									<td>
										<ul class="danxuan3 clear" id="taglx">
											<li><a href="javascript:void(0);" tag="15" style="display: block;padding:0;text-align: center" >本科</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
											<li><a href="javascript:void(0);" tag="32" style="display: block;padding:0;text-align: center"  >专科</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
											<li><a href="javascript:void(0);" tag="44" style="display: block;padding:0;text-align: center"  >高职</a><img src="//xueye.wisecareer.org/images/xueye/icon/yes.png" alt=""/></li>
										</ul>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="line-height: 10px">&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;院校名称</td>
								</tr>
								<tr>
									<td>
										<input type="text" placeholder="学校名称关键词" id="guanjian" name="titlename" value=""   AUTOCOMPLETE="off"/>
										<input type="hidden" name="schoolid"  id="schoolid" value='' >
										<div id="searchresult" style="display: none;">
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="2"><input  type="submit" value="搜索" class="btn_yes"/></td>
								</tr>
								<tr>
									<td colspan="2" align="center" style="font-weight:bold;color:#00bb0c;line-height: 30px;background: url('__XUEYE__/images/shuomingbg.png') no-repeat center center">特别说明</td>
								</tr>
								<tr>
									<td colspan="2" style="line-height: 10px">&nbsp;</td>
								</tr>
								<tr>
									<td colspan="2">
										<p id="shuoming">“知分选大学”和“知位选大学”目前只面向“北京”、“山西”、“山东”、“福建”、“海南”、“湖南”六省考生开放。其它省份将陆续开放。</p>
									</td>
								</tr>
								<tr>
									<td colspan="2" style="line-height: 20px">&nbsp;</td>
								</tr>
							</table>
							<div class="cleardiv20"></div>
						</form>
					</div>
				</div>

</div>

<script type="text/javascript">
	$(function(){

		$('#guanjian').bind('input propertychange', function() {

			// $('#txt_search').html($(this).val().length + ' characters');
		});

	})
	$(function () {
		$("#guanjian").bind('input propertychange',function (evt) {
			ChangeCoords(); //控制查询结果div坐标
			var k = window.event ? evt.keyCode : evt.which;
			var uid = localStorage.CURRENT_USER_ID;
			//输入框的id为txt_search，这里监听输入框的keyup事件
			//不为空 && 不为上箭头或下箭头或回车
			if ($("#guanjian").val() != "" && k != 38 && k != 40 && k != 13) {
				$.ajax({
					type: 'post',
					//async: false, //同步执行，不然会有问题
					dataType: "json",
					url: "/ajax/searchAll?type=d&term="+$("#guanjian").val(), //提交的页面/方法名
					contentType: "json",
					success: function (data) {

						var objData = data.data
						if (objData.length > 0) {
							var layer = "";
							layer = "<table id='aa'>";
							$.each(objData, function (idx, item) {
								layer += "<tr class='line'><td class='std' tag='"+item['id']+"' >" + item['value'] + "</td></tr>";
							});
							layer += "</table>";
							//将结果添加到div中
							$("#searchresult").empty();
							$("#searchresult").append(layer);
							$(".line:first").addClass("hover");
							$("#searchresult").css("display", "");
							//鼠标移动事件
							$(".line").hover(function () {
								$(".line").removeClass("hover");
								$(this).addClass("hover");
							}, function () {
								$(this).removeClass("hover");
								//$("#searchresult").css("display", "none");
							});
							//鼠标点击事件
							$(".line").click(function () {
								$("#guanjian").val($(this).text());
								var schoolid = $(this).find('.std').attr('tag');
								
								$("#schoolid").val(schoolid);
								$("#searchresult").css("display", "none");
							});
						} else {
							$("#searchresult").empty();
							$("#searchresult").css("display", "none");
						}
					}
				});
			}
			else if (k == 38) {
				$('#aa tr.hover').prev().addClass("hover");
				$('#aa tr.hover').next().removeClass("hover");
				$('#guanjian').val($('#aa tr.hover').text());
			} else if (k == 40) {
				$('#aa tr.hover').next().addClass("hover");
				$('#aa tr.hover').prev().removeClass("hover");
				$('#guanjian').val($('#aa tr.hover').text());
			}
			else if (k == 13) {
				$('#guanjian').val($('#aa tr.hover').text());
				$("#searchresult").empty();
				$("#searchresult").css("display", "none");
			}
			else {
				$("#searchresult").empty();
				$("#searchresult").css("display", "none");
			}
		});
		$("#searchresult").bind("mouseleave", function () {
			$("#searchresult").empty();
			$("#searchresult").css("display", "none");
		});
	});
	//设置查询结果div坐标
	function ChangeCoords() {
		// var left = $("#txt_search")[0].offsetLeft; //获取距离最左端的距离，像素，整型
		// var top = $("#txt_search")[0].offsetTop + 26; //获取距离最顶端的距离，像素，整型（20为搜索输入框的高度）
		var left = $("#guanjian").position().left; //获取距离最左端的距离，像素，整型
		var top = $("#guanjian").position().top + 20; ; //获取距离最顶端的距离，像素，整型（20为搜索输入框的高度）
		$("#searchresult").css("left", left + "px"); //重新定义CSS属性
		$("#searchresult").css("top", top + "px"); //同上
	}
</script>

<script>
	$(function(){
		isHaveLogin('/scores/search4');
	});
</script>
<script>
	$('#wl>li>a').click(function(){
		var attr1=$(this).next().attr('num');
		$(this).next().val(attr1);
		var tag = $(this).attr('tag');
		$("#wl>li>input[type='hidden']").remove();
		$(this).after('<input name="wl" type="hidden"  value='+tag+' />' );
		$('#wl>li>a').removeClass("this");
		$(this).addClass("this");
		$('#wl>li>img').hide();
		$(this).next().next().show();
	});
	$('ul#taglx>li>a').click(function(){
		var attr1=$(this).next().attr('num');
		$(this).next().val(attr1);
		var tag = $(this).attr('tag');
		$("#taglx>li>input[type='hidden']").remove();
		$(this).after('<input name="lx" type="hidden"  value='+tag+' />' );
		$('#taglx>li>a').removeClass("this");
		$(this).addClass("this");
		$('#taglx>li>img').hide();
		$(this).next().next().show();
	});

	var uid = localStorage.CURRENT_USER_ID;
	$.ajax({ url:WEB_API_URL + "user/city?" , async: false,data:{scid:0,token:uid}, success: function(json){
		var str1='';
//		var str2='';
		$.each(json.data, function (index, array) {
			if(array['has']=='1'){
				str1+='<option id="'+array['ar_id']+'" value="'+array['ar_id']+'" selected="selected">'+array['ar_name']+'</option>';
			}else{
				str1+='<option id="'+array['ar_id']+'" value="'+array['ar_id']+'">'+array['ar_name']+'</option>';
			}
//			str2+='<option id="'+array['ar_id']+'" value="'+array['ar_id']+'">'+array['ar_name']+'</option>';
		});
		$('#stu_city').append(str1);
//		$('#sch_city').append(str2);
	}});




	function search(){
		if($('#stu_city').val()==0){
			layer.open({
				content: '请选择考生所在地'
				,shadeClose: false
				,btn: '我知道了'
			});
			return false;
		}else if($('#wl>li>a').is('.this')==false){
			layer.open({
				content: '请选择文理科'
				,shadeClose: false
				,btn: '我知道了'
			});
			return false;
		}else if($('#taglx>li>a').is('.this')==false){
			layer.open({
				content: '请选择院校层次'
				,shadeClose: false
				,btn: '我知道了'
			});
			return false;
		}else if($('#guanjian').val()==''){
			layer.open({
				content: '请输入学校名称'
				,shadeClose: false
				,btn: '我知道了'
			});
			return false;
		}else{}
	}
</script>

<script>
	wx.config({
		debug: false,//关闭调试模式
		appId: '{$signPackage["appId"]}',
		timestamp: {$signPackage["timestamp"]},
		nonceStr: '{$signPackage["nonceStr"]}',
		signature: '{$signPackage["signature"]}',
		/*appId: 'xxxxxx',
		 timestamp: xxxxx,
		 nonceStr: 'xxxxx',
		 signature: 'xxxxx',*/

		jsApiList: [
			// 所有要调用的 API 都要加到这个列表中
			'checkJsApi',
			'onMenuShareTimeline',
			'onMenuShareAppMessage',
			'onMenuShareQQ'
		]
	});
	wx.ready(function () {

		// 2. 分享接口
		// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


		wx.onMenuShareAppMessage({
			title: '智能学业e站，您身边的生涯规划专家！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/scores/search4',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击发送给朋友');
			},
			success: function (res) {
				//alert('已分享');
				//   window.location.href = 'http://m.duolehuan.com/';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});

		// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
		wx.onMenuShareTimeline({
			title: '快来学业e站吧！',
			desc: '国内唯一生涯大数据动态分析及学业决策智能支持平台',
			link: 'http://xy.wisecareer.org/scores/search4',
			imgUrl: 'http://xy.wisecareer.org/static/xueye/images/20170711143700_510.png',//自定义图片地址
			trigger: function (res) {
				// alert('用户点击分享到朋友圈');
			},
			success: function (res) {
				//alert('已分享');
				//window.location.href = '';
			},
			cancel: function (res) {
				//alert('已取消');
			},
			fail: function (res) {
				//alert(JSON.stringify(res));
			}
		});
	});

	function hide(){
		$('.show_hide').hide();
	}

	function show(){
		$('.show_hide').show();
	}
</script>
 {/block}
 {block name='menu'}
{/block}
 