<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>职拓e站</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" />
	<meta name="MobileOptimized" content="320"/>
	<link href="//www.wisecareer.org/css/zhituo/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="//www.wisecareer.org/css/zhituo/yuan.css"/>
	<link href="//www.wisecareer.org/css/zhituo/user_info.css" type="text/css" rel="stylesheet" />
	<script src="//www.wisecareer.org/js/jquery-1.8.3.min.js"></script>
	<script src="//www.wisecareer.org/js/layer/mobile/layer.js"></script>
	<link rel="stylesheet" href="//www.wisecareer.org/js/layer/mobile/need/layer.css"/>
   <script src="/static/zhituo/js/base.min.js"></script>
	<script src="/static/zhituo/js/com.min.js"></script>
	<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<style>
		#dBody .inner h3,#dBody .inner h5{line-height: 40px;font-size: 16px;color: #666}
		#dBody .inner h5>input#random{padding:12px 5%;width: 89%;font-size: 16px;line-height: 16px;height: 16px;-webkit-appearance:none;}
		.btn_yes{margin: 0 auto;}
		#skip{background:rgba(0,0,0,0);color: #00bb0c;font-size: 14px;font-weight: 400}
		p.zhushi{
			padding-top: 5px;font-size: 14px;color: #666;
		}

	</style>
</head>
<body>

<!-- head -->
<div id="dHead">
	<div class="head">
		<h1 style="margin: 0">验证</h1>
		<a href="javascript:window.history.back(-1)" class="return"><i class="return-right"></i></a>
	</div>
</div>
<div id="dBody">
	<div class="cleardiv50"></div>
	<div class="mycontent">
		<form class="inner" id="myform" name="myform">
			<div class="cleardiv10"></div>
			<h3>身份验证码：</h3>
			<h5><input type="text" id="random" name="random" placeholder="请输入所在学校身份验证码"/></h5>
			<p class="zhushi">注：若不清楚本校学生身份验证码，请联系本校负责老师。</p>
			<div class="cleardiv20"></div>
			<div class="cleardiv20"></div>
			<input type="button" value="确&nbsp;认" class="btn_yes" onclick="sub();"/>
			<input type="button" value="取&nbsp;消" class="btn_yes" onclick="location.href='/user/userinfo/'" style="margin: 10px auto"/>
			<div class="cleardiv20"></div>
			<div class="cleardiv20"></div>
		</form>
	</div>
</div>


 <script type="text/javascript">
		$(function(){
			isHaveLogin('/user/verification.html');
		});
	 function sub(){
			 var random = document.myform.random; //在这里我认为： name 代表的name 为 txtUser 的文本框
			var randomnum = random.value
				var token =localStorage.CURRENT_USER_ID
	

			 if(random.value.length==0){
				 layer.open({
					 content: '身份验证码不能为空！'
					 ,shadeClose: false
,btn: '我知道了'
				 });
				 random.focus();
				 return false;
			 }else{
				$.ajax({
			        url: WEB_API_URL+"user/shcool_verification",
			        type: "Post",
			        data: "token="+token+"&schoolid=<{$myinfo.schoolname}>&ver_code="+randomnum,
			        dataType:'json',
			        async:false,
			        success: function (result){
			        	if(result.status == '0') {
			        	layer.open({
							 content: result.msg
							 ,shadeClose: false
							,btn: '我知道了'
							,yes:function(index){
								window.location.href="/user/userinfo"
								layer.close(index);
							 }
						});
						 
		                }else{
							layer.open({
								content: result.msg
								,shadeClose: false
,btn: '我知道了'
							});
		                }
			        }
			         
			  	})
				 return true;
			 }

	 }

		wx.config({
			debug: false,//关闭调试模式
			appId: '{$signPackage["appId"]}',
			timestamp: {$signPackage["timestamp"]},
			nonceStr: '{$signPackage["nonceStr"]}',
			signature: '{$signPackage["signature"]}',
			/*appId: 'xxxxxx',
			 timestamp: xxxxx,
			 nonceStr: 'xxxxx',
			 signature: 'xxxxx',*/

			jsApiList: [
				// 所有要调用的 API 都要加到这个列表中
				'checkJsApi',
				'onMenuShareTimeline',
				'onMenuShareAppMessage',
				'onMenuShareQQ'
			]
		});
		wx.ready(function () {

			// 2. 分享接口
			// 2.1 监听"分享给朋友"，按钮点击、自定义分享内容及分享结果接口


			wx.onMenuShareAppMessage({
				title: '跨行业职业体验及现场实习平台',
				desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
				link: 'http://zt.wisecareer.org/user/verification',
				imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
				trigger: function (res) {
					// alert('用户点击发送给朋友');
				},
				success: function (res) {
					//alert('已分享');
					//   window.location.href = 'http://m.duolehuan.com/';
				},
				cancel: function (res) {
					//alert('已取消');
				},
				fail: function (res) {
					//alert(JSON.stringify(res));
				}
			});

			// 2.2 监听"分享到朋友圈"按钮点击、自定义分享内容及分享结果接口
			wx.onMenuShareTimeline({
				title: '跨行业职业体验及现场实习平台',
				desc: '近30个行业、岗位、专题的职业（案例）体验、现场实习、多元随机评价、精准定位“职业教练”...... 积累经验值，换得未来好工作。',
				link: 'http://zt.wisecareer.org/user/verification',
				imgUrl: 'http://www.wisecareer.org/images/zhituo.jpg',//自定义图片地址
				trigger: function (res) {
					// alert('用户点击分享到朋友圈');
				},
				success: function (res) {
					//alert('已分享');
					//window.location.href = '';
				},
				cancel: function (res) {
					//alert('已取消');
				},
				fail: function (res) {
					//alert(JSON.stringify(res));
				}
			});
		});
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273552666'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273552666'type='text/javascript'%3E%3C/script%3E"));</script></body>
</html>